/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .artist-right-form {
    padding-left: 125px;
    padding-right: 79px;
  }
}

/*
  ====================================
  Small Screen - Tablate
  ====================================
  */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .album-left h1 {
    color: #fff;
    font-size: 50px;
  }

  .album-left h2 {
    margin-left: 140px;
  }

  .artist-right-form {
    padding-left: 42px;
    padding-right: 50px;
  }

  .artist-social {
    padding: 20px 20px;
    width: 265px;
    right: -55px;
  }

  .artist-social ul li a {
    margin-left: 20px;
  }

  .album-left h1 img {
    width: 290px;
  }

  .album-left h2 img {
    display: inline-block;
    width: 200px;
  }
}

/*
  ====================================
  Small Screen - Mobile
  ====================================
  */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .header,
  .header-wrapper {
    padding: 15px 0;
  }

  .header-left {
    text-align: center;
  }

  .header-left ul li:last-child a {
    margin-right: 0;
  }

  .header-right {
    margin-top: 20px;
    text-align: center !important;
  }

  .header-right ul li:first-child a {
    margin-left: 0;
  }

  .album {
    margin-top: 65px;
  }

  .album-left h1 {
    color: #fff;
    font-size: 48px;
  }

  .album-left h2 {
    color: #fff;
    font-size: 44px;
  }

  .album-left a {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .album-left {
    text-align: center;
  }

  .artist {
    margin-top: 65px;
  }

  .artist-left {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .artist-wrapper:before {
    content: none;
  }

  .artist-right-form {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .artist-right-form-one input {
    width: 100%;
  }

  .artist-right-submit button {
    width: 100%;
  }
}

/*
  ====================================
  Xtra Small Screen - Small Mobile
  ====================================
  */
@media screen and (max-width: 576px) {
  .header,
  .header-wrapper {
    padding: 15px 0;
  }

  .header-left {
    text-align: center;
  }

  .header-left ul li:last-child a {
    margin-right: 0;
  }

  .header-right {
    margin-top: 20px;
    text-align: center !important;
  }

  .header-right ul li:first-child a {
    margin-left: 0;
  }

  .album {
    margin-top: 65px;
  }

  .album-left h1 {
    color: #fff;
    font-size: 48px;
  }

  .album-left h2 {
    margin-left: 122px;
    top: -5px;
  }

  .album-left a {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .album-left {
    text-align: center;
  }

  .artist {
    margin-top: 65px;
  }

  .artist-left {
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .artist-wrapper:before {
    content: none;
  }

  .artist-right-form {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .artist-right-form-one input {
    width: 100%;
  }

  .artist-right-submit button {
    width: 100%;
  }

  .album-left h1 img {
    width: 260px;
  }

  .album-left h2 img {
    width: 188px;
  }
}
