@font-face {
  font-family: Nexa Bold;
  src: url("/font/Nexa Bold.otf") format("truetype");
}

@font-face {
  font-family: Nexa Light;
  src: url("/font/Nexa Light.otf") format("truetype");
}

@font-face {
  font-family: NexaBlack;
  src: url("/font/NexaBlack.otf") format("truetype");
}

@font-face {
  font-family: NexaBold;
  src: url("/font/NexaBold.otf") format("truetype");
}

@font-face {
  font-family: NexaBlackItalic;
  src: url("/font/NexaBlackItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaBoldItalic;
  src: url("/font/NexaBoldItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaBook;
  src: url("/font/NexaBook.otf") format("truetype");
}

@font-face {
  font-family: NexaBookItalic;
  src: url("/font/NexaBookItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaHeavy;
  src: url("/font/NexaHeavy.otf") format("truetype");
}

@font-face {
  font-family: NexaHeavyItalic;
  src: url("/font/NexaHeavyItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaLight;
  src: url("/font/NexaLight") format("truetype");
}

@font-face {
  font-family: NexaLightItalic;
  src: url("/font/NexaLightItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaRegular;
  src: url("/font/NexaRegular.otf") format("truetype");
}

@font-face {
  font-family: NexaRegularItalic;
  src: url("/font/NexaRegularItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaThin;
  src: url("/font/NexaThin.otf") format("truetype");
}

@font-face {
  font-family: NexaThinItalic;
  src: url("/font/NexaThinItalic.otf") format("truetype");
}

@font-face {
  font-family: NexaXBold;
  src: url("/font/NexaXBold.otf") format("truetype");
}

@font-face {
  font-family: NexaXBoldItalic;
  src: url("/font/NexaXBoldItalic.otf") format("truetype");
}

body {
  font-family: "NexaRegular";
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*-- header area start --*/
.header-left ul li {
  display: inline-block;
}

.header-left ul li a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin-right: 25px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.header-left ul li a:hover {
  color: #e5a72e;
}

.header-right ul li {
  display: inline-block;
}

.header-right ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  margin-left: 35px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  font-family: NexaXBold;
}

.header-right ul li a:hover {
  color: #e5a72e;
}

.header-wrapper {
  padding: 50px 0;
}

.artist {
  overflow: hidden;
}

.artist-wrapper {
  position: relative;
}

.artist-wrapper:before {
  content: "";
  display: block;
  width: 99999px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: -99999px;
  top: 0;
}

.artist-left {
  background-color: #fff;
  padding-top: 90px;
  position: relative;
  padding-bottom: 80px;
}

.artist-left-logo a {
  display: inline-block;
}

.artist-left-logo a img {
  display: inline-block;
  width: 180px;
}

.artist-left-link {
  margin-top: 20px;
}

.artist-left-link ul {
  margin-left: 25px;
}

.artist-left-link ul li a {
  display: inline-block;
  color: #000;
  font-family: NexaBold;
  margin-top: 15px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.artist-left-link ul li a:hover {
  opacity: 0.7;
}

.artist-right-form {
  padding-left: 150px;
  padding-right: 150px;
}

.artist-right-form h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 25px;
  font-family: NexaXBold;
}

.artist-right-form-one input {
  display: block;
  width: 246px;
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: none;
  border-bottom: 1px solid #fff;
  font-size: 13px;
  font-family: NexaXBold;
  padding-bottom: 10px;
}

.artist-right-form-one input::placeholder {
  color: #fff;
  opacity: 1;
}

.artist-right-form-one {
  margin-top: 30px;
}

.artist-right-submit button {
  display: inline-block;
  border: 0;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  color: #333;
  border-radius: 36px;
  padding: 12px 25px;
  width: 250px;
  text-align: left;
  position: relative;
  margin-top: 50px;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: NexaXBold;
}

.artist-right-submit button:hover {
  opacity: 0.7;
}

.artist-right-submit button img {
  display: inline-block;
  width: 15px;
  position: absolute;
  right: 24px;
  top: 15px;
}

.artist-social {
  background-color: #ff8100;
  padding: 40px 60px;
  width: 366px;
  position: absolute;
  bottom: 0;
  right: -100px;
}

.artist-social p {
  font-size: 18px;
  letter-spacing: 2px;
  color: #000;
  margin-bottom: 30px;
  font-family: NexaHeavy;
  text-align: center;
}

.artist-social ul li {
  display: inline-block;
}

.artist-social ul li a {
  display: inline-block;
  font-size: 18px;
  color: #000;
  margin-left: 24px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.artist-social ul li a:hover {
  color: #fff;
}

.artist-social ul li:first-child a {
  margin-left: 0;
}

.artist-social ul {
  text-align: center;
}

.artist {
  margin-top: 150px;
}

.album-left p {
  color: #fff;
  letter-spacing: 4px;
  font-family: NexaBlack;
}

.album-left h1 img {
  width: 400px;
}

.album-left h2 {
  margin-left: 212px;
  transform: rotate(-2deg);
  position: relative;
  top: -8px;
}

.album-left h2 img {
  display: inline-block;
  width: 250px;
}

.album-left a {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  padding: 10px 30px;
  margin-top: 40px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  font-family: NexaBlack;
}

.album-left a:hover {
  opacity: 0.7;
}

.album-left a img {
  display: inline-block;
  margin-left: 15px;
  width: 15px;
}

.album-right {
  display: block;
}

.album-right img {
  display: inline-block;
  width: 100%;
}

.album-right > .album-play-button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.album-right > .album-play-button > i {
  color: #ffffff;
  font-size: 40px;
  padding-left: 5px;
}

.album-right > .album-play-button > img {
  padding-left: 1px;
}

.album {
  margin-top: 120px;
}

.video-dialog > .modal-content {
  width: 640px !important;
  height: 360px !important;
  border: none;
}

.video-dialog > .modal-content > .modal-body {
  padding: 0px !important;
}

.video-dialog > .modal-content > .modal-body > iframe {
  border-radius: 0.3rem;
}
